<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 使用全局的映射器启用或者禁用缓存。 -->
        <setting name="cacheEnabled" value="true"/>
        <!-- Sets the number of seconds the driver will wait for a response from the database -->
        <setting name="defaultStatementTimeout" value="3000"/>
        <!-- 使用驼峰命名法转换字段。 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 获取数据库自增主键值 default:false （允许JDBC 生成主键。需要驱动器支持。如果设为了true，这个设置将强制使用被生成的主键，有一些驱动器不兼容不过仍然可以执行。)  -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 使用列标签替换列别名 default:true （是否可以使用列的别名） -->
        <setting name="useColumnLabel" value="true"/>
        <!-- 全局启用或禁用延时加载，当禁用时，所有关联对象都会即时加载。 -->
        <setting name="lazyLoadingEnabled" value="true" />
    </settings>
    <!--配置常用的 typeAliases，设置类型别名，为 Java 类型设置一个短的名字。它只和 XML 配置有关，存在的意义仅在于用来减少类完全限定名的冗余。-->
    <typeAliases>
        <typeAlias alias="String"           type="java.lang.String" />
        <typeAlias alias="Integer"          type="java.lang.Integer" />
        <typeAlias alias="Long"             type="java.lang.Long" />
        <typeAlias alias="HashMap"          type="java.util.HashMap" />
        <typeAlias alias="LinkedHashMap"    type="java.util.LinkedHashMap" />
        <typeAlias alias="ArrayList"        type="java.util.ArrayList" />
        <typeAlias alias="LinkedList"       type="java.util.LinkedList" />
    </typeAliases>
</configuration>